html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

.btn-toolbar .title {
    display: block;
    float: left;
    margin-top: -4px; /* Recover part of margin set in child Header nodes */
    margin-left: 10px;
    font-size: 20px;
    font-weight: 200;
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
}
.head-show-info{
    height: 400px;
}
.description {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 14px;
}

.float-right {
    float: right;
}

.one-row-pannel {
    height: 100px;
}

.input-group-addon {
    min-width: 40px;
}

.two-row-pannel {
    height: 220px;
}

.header-connect {
    background-color: #00AEEF;
    color: #fff;
}

.header-call {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-call span {
    margin-right: 15px;
    font-weight: 300;
}

.header-call span i {
    margin-right: 3px;
    font-size: 18px
}

.header-social {
    padding-top: 10px;
}

.header-social ul li a {
    color: #fff;
    font-size: 14px
}

.header-social ul li a:hover {
    color: #0486B7
}

.navbar {
    border: none;
    border-bottom: 1px solid #e7e7e7;
}

.navbar-brand{
    padding: 5px 10px 5px 20px;
}


.navbar-default .navbar-nav > li > a {
    color: #202020;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #D10073;
}

.navbar-nav > li > a {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-default .navbar-nav > li > a.active:after {
    background-color: #00aeef;
    bottom: -11px;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    transition: all 0.2s ease 0s;
    width: 100%;
}

.navbar-default .navbar-nav > li > a::after {
    background-color: #00aeef;
    bottom: -11px;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    transition: all 0.2s ease 0s;
    width: 0%;
}

.navbar-default .navbar-nav > li > a:hover:after {
    width: 100%;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 20px
}

.navbar-delimiter {
    margin-bottom: 141px;
}

.main-nav {
    padding: 5px 0px;
}
.main-navbar{
    width: 100%;
    text-align: center;
}
.main-navbar .navbar-nav{
    float: none !important;
    display: inline-block;
    text-align:  center;
}
.button.navbar-right {
    padding-top: 31px;
    padding-right: 10px;
}

.nav-button {
    background-color: #c2c2c2;
    border: medium none;
    color: #fff;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 2px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.nav-button.login {
    background-color: #00AEEF;
    // margin-right: 5 px;
}

.nav-button:hover {
    background-color: #00AEEF;
}
.nav-logo{
    width: 165px;
    height: 50px;
    float: left;
    display:inline-block;
    clear: none;
}

.navbar-header {
    min-height: 50px;
    width: 100%;
    text-align: center;
}



.navbar-default {
    background-image: none;
    background-color: #fff;
    background-repeat: repeat-x;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    box-shadow: none;
}

.navbar .container {
    padding-top: 15px
}
.navbar-brand{
    height: 60px;

}
.navbar-brand img{
    height: 50px;
}



.big {
    height: 10000px;
}

.slider-area {
    position: relative;
    width: 100%;
}

#bg-slider .item img {
    width: 100%;
    height: auto;
}

.slider-content {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -585px;
    text-align: center;
    color: #fff
}

.slider-content h2 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.slider-content p {
    font-size: 14px;
    margin-bottom: 60px;
    color: red;
}

.slider .owl-theme .owl-controls {
    margin-top: 0px;
    position: relative;
    text-align: center;
}

.slider .owl-pagination {
    bottom: 100%;
    margin: 0 auto;
    margin-top: -30px;
}

.slider .owl-theme .owl-controls .owl-page span {
    background: #01AEEF
}

.search-form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 0;
}

.form-inline .form-control, .form-inline .form-control {
    background: none repeat scroll 0 0 #eeeeee;
    border-radius: 1px;
    color: #333;
    font-style: italic;
    height: 40px;
    margin-right: 10px;
    width: 195px;
}

.form-inline input[type=submit] {
    background: #00AEEF;
    color: #fff;
    height: 40px;
    width: 90px;
    border-radius: 1px;
    font-weight: bold;
    font-size: 16px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-inline input[type=submit]:hover {
    background: #00A2DE
}

.page-title {
    padding-top: 10px;
}

.page-title h5 {
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0
}

.page-title h2 {
    font-size: 25px;
    font-weight: 800;
    margin-top: 5px;
    text-transform: uppercase;
}

.page-title h2 span {
    color: #00ADEF
}

.page-title p {
    color: #666666;
    line-height: 30px;
    padding: 0 25%;
    margin-top: 16px;
}

.single-work {
    padding: 20px 5px;
    border-bottom: 3px solid #00AEEF;
    margin-top: 15px;
    height: 300px;
}

.single-work img {
    display: inline-block !important;
    width: 90px !important;
    height: 90px;
}

.single-work h3 {
    color: #202020;
    font-size: 20px;
    font-weight: 500;
}

.single-work p {
    color: #666666;
    font-weight: 300;
    line-height: 26px;
    position: absolute;
    bottom: 20px;
    overflow: hidden;
    width: 100%;
    height: 100px;
}

.single-work.active {
    background: #00AEEF;
}

.single-work.active h3 {
    color: #fff
}

.single-work.active p {
    color: #eeeeee
}

.single-work:hover {
    background: #00AEEF;
    border-bottom: 3px solid #D10172;
}

.single-work:hover h3 {
    color: #fff
}

.single-work:hover p {
    color: #eeeeee
}

.how-it-work a:hover, a:focus {
    text-decoration: none;
}

.job-posting {
    padding: 60px 0
}

.job-posting .tab-content {
    margin-top: 30px
}

.overlay {
    background: -webkit-linear-gradient(transparent 57%, rgba(0, 0, 0, 1) 100%); /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(transparent 57%, rgba(0, 0, 0, 1) 100%); /* FF1.6+ */
    background: -ms-linear-gradient(transparent 57%, rgba(0, 0, 0, 1) 100%); /* IE10 */
    background: -o-linear-gradient(transparent 57%, rgba(0, 0, 0, 1) 100%); /* Opera 11.10+ */
    background: linear-gradient(transparent 57%, rgba(0, 0, 0, 1) 100%); /* W3C */
    border-radius: 2px;
    height: 189px;
    left: 0;
    position: absolute;
    top: -82px;
    width: 98%;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.overlay > h3 {
    bottom: -50px;
    margin: 0;
    position: absolute;
    left: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.tab-content ul.job-seeker li a .overlay p {
    bottom: 3px;
    color: #fff;
    font-weight: 400;
    left: -100px;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;

}



.jobs {
    margin-bottom: 60px
}

.jobs {
    margin-top: 50px
}

.table tr {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.table tr td h4 {
    font-weight: 700;
    text-transform: capitalize;
}

.table tr td {
    padding: 6px;
}

.table tr td h4 span {
    font-weight: 300;
    font-size: 14px
}

.table tr td p {
    font-size: 13px
}

.table tr td a {
    // color: #fff;
    // background: #00AEEF;
    // padding: 12 px 15 px;
    // border-radius: 5 px;
    font-size: 13px;
    text-decoration: none;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.table tr:hover td a {
    // background: #0486B7
}

.table tr:hover td a:hover {
    // background: #fff;
    // color: #00AEEF
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0px;
    vertical-align: middle;
    padding: 15px;
    // color: black;
}

.table > tbody > tr > td.tbl-logo {
    padding-right: 0px
}

.table > tbody > tr > td.tbl-apply {
    padding-right: 10px;
    padding-left: 0px;
}

.table > tbody > tr > td.tbl-title {
    padding-left: 5px
}

.more-jobs {
    margin-top: 30px
}

.more-jobs a {
    background: none repeat scroll 0 0 #d1d1d1;
    color: #666666;
    padding: 14px 22px;
    border-radius: 2px;
    display: inline-block;
}

.more-jobs i {
    margin-right: 10px;
    font-size: 16px
}

.job-add {
    background: url(img/job-add.png);
    height: 500px;
}

.job-add h2 {
    color: #fff;
    font-size: 38px;
    font-weight: 800;
    margin: 0;
    padding: 305px 20px 0;
    text-transform: uppercase;
}

.job-add a {
    background: none repeat scroll 0 0 #00aeef;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    margin: 30px 0 0 20px;
    padding: 21px 55px;
    font-size: 15px;
}

.table-responsive {
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.testimonial {
    position: relative;
    margin-top: 50px;
    margin-bottom: 70px;
}

.testimonial .item {
    padding-bottom: 30px;
}

.testimonial .item .client-face {
    position: absolute;
    top: 78px;
    right: 130px;
}

.client-face > img {
    border: 5px solid #fff;
    border-radius: 50%;
}

.testimonial .owl-theme .owl-controls .owl-page span {
    background: #00AEEF
}

.client-text {
    background: none repeat scroll 0 0 #00aeef;
    border-radius: 2px;
    color: #fff;
    margin-left: 175px;
    padding: 20px 30px;
    width: 800px;
}

.client-text p {
    line-height: 30px;
}

.client-text h4 {
    font-size: 15px
}

.client-text h4 i {
    font-size: 13px
}

.footer-area {
    background: #000;
    border-top: 4px solid #00AEEF;
}

.footer {
    padding: 0px 0 30px 0;
}

.single-footer {
    margin-top: 60px
}

.single-footer img {
    margin-bottom: 20px;
}

.single-footer p {
    color: #fff;
    line-height: 26px;
}

.single-footer h4 {
    color: #fff;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 45px
}

.single-footer h5 {
    color: #fff;
    margin-top: 20px;
    font-weight: 700;
}

.single-footer a {
    color: #fff;
}

.single-footer ul li {
    margin-bottom: 10px
}

.single-footer ul li a {
    color: #6d7a83;
    font-weight: 700;
}

.single-footer ul li a:hover {
    color: #00aeef;
    text-decoration: none;
}

.footer-copy {
    color: #fff;
    font-weight: 700;
}

.footer-copy span {
    margin-right: 20px;
    margin-left: 20px;
}

.footer-copy span a {
    color: #00aeef;
    font-weight: 800;
}

.i-tools-logo {
    margin: 0 auto;
    text-align: center;

}

/*ggwp*/
.i-tools {
    background-color: #dbf3ff;
    padding: 50px 0
}

@media (min-width: 768px) {
    .i-tools {
        // padding: 10 px 0
    }

    #custom_carousel .item {

        color: #000;
        background-color: #dbf3ff;
        padding: 20px 0;
        // min-height: 300 px;
        // max-height: 300 px;
    }
}

.i-tools .i-hiw-header {
    padding: 0 20px
}

.i-tools-tagline {
    font-family: "Benton Sans", "Helvetica", "sans-serif";
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0;
    font-weight: normal;
    margin: 0 15px 30px;
    text-align: center
}

.i-tools-container {
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    box-orient: horizontal;
    -ms-flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 960px
}

.i-tools-card {
    height: 300px;
    padding: 35px 20px 30px;
    margin: 30px 20px 0;
    background: #fff;
    border: 1px solid #00ADEF;
    color: #6a6a6a;
    display: inline-block;
    width: 200px;
    cursor: pointer
}

.i-tools-card:hover {
    border-color: #0486B7;
}

.i-tools-card a.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}

.i-tools-card hr {
    width: 50px;
    border-color: #ddd;
    margin: 30px auto
}

.i-tools-card svg {
    height: 45px;
    width: 45px;
    fill: #eb1478
}

@media (min-width: 640px) {
    .i-tools-card {
        margin-top: 40px
    }

    #custom_carousel .item {

        color: #000;
        background-color: #dbf3ff;
        padding: 20px 0;
        // min-height: 300 px;
        // max-height: 300 px;
    }

    .img-responsive {
        margin: auto;

    }
}

.i-tools-svg {
    margin: 0 auto;
    text-align: center
}

.i-tools-see-more {
    margin-top: 35px;
    font-family: "Benton Sans Medium", "Helvetica", "sans-serif";
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    letter-spacing: 0;
    text-align: center;
    color: #eb1478
}

.i-tools-header {
    font-family: "Benton Sans Medium", "Helvetica", "sans-serif";
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 25px
}

.i-tools-description {
    font-family: "Benton Sans", "Helvetica", "sans-serif";
    font-size: 14px;
    font-weight: normal;
    line-height: 20px
}

.toolsModal .toolsModal-content {
    background-color: #fff;
    text-align: center;
    padding-bottom: 50px
}

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff; /* change if the mask should have another color then white */
    z-index: 99; /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%; /* centers the loading animation horizontally one the screen */
    top: 50%; /* centers the loading animation vertically one the screen */
    background-image: url(img/preloader.gif); /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px; /* is width and height divided by two */
}

#navbar {

}

#dropdown-header {
    color: #428bca;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;

}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    color: #222;
    padding: 3px 5px;
}

.mega-dropdown-menu > li a:hover,
.mega-dropdown-menu > li a:focus {

    text-decoration: none;
    color: #00aeef;
    background-color: ghostwhite;
    cursor: pointer;
}

.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    // padding: 5 px 60 px 5 px 5 px;
    font-weight: bold;
    white-space: inherit;
    // text-align: left;
}

.mega-dropdown-menu img {
    margin-bottom: 10px;

}

.carousel-control {
    width: 30px;
    height: 30px;
    top: -35px;

}

.left.carousel-control {
    right: 30px;
    left: inherit;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    font-size: 12px;
    background-color: #fff;
    line-height: 30px;
    text-shadow: none;
    color: #333;
    border: 1px solid #ddd;
}

//bootstrap
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #00AEEF;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

nav > li > a::hover {
    border: #202020 3px solid;

}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #00AEEF;
    border-color: #428bca;
}

a {
    color: #000;
    text-decoration: none;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: white;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.layer {
    overflow: auto; /* Добавляем полосы прокрутки */

    width: 100%; /* Ширина блока */
    height: 50px; /* Высота блока */
    padding: 5px; /* Поля вокруг текста */

}

.btn-success {
    color: #fff;
    background-color: #00AEEF;
    border-color: #0081b2;
}

.btn-success:hover {
    color: #fff;
    background-color: #008dc1;
    border-color: #0081b2;
}

.btn-danger {
    color: #fff;
    background-color: #D10072;
    border-color: #800046;
}

.btn-danger:hover {
    color: #fff;
    background-color: #BF0068;
    border-color: #800046;
}

.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open {
    background: white // #00aeef;
}

.board {
    // width: 100 %;
    // margin: 60 px auto;
    height: 500px;
    background: #dbf3ff;
    /*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}

.board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    margin: 10px auto;
    margin-bottom: 0;
    box-sizing: border-box;

}

.board-header {
    height: 110px;
}

.board-content {
    height: 390px;
    width: 100%;
    display: table;
}

p.narrow {
    width: 60%;
    margin: 10px auto;
}

.liner {
    height: 3px;
    background: #fff;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.board-inner nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

.board-inner .nav-tabs > li > a {
    color: #666;
    font-weight: 300;
    border-width: 0px;
}

span.round-tabs {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

li.active span.round-tabs {
    background: white !important;
}

span.round-tabs.one {
    border: 3px solid firebrick;
    color: firebrick;
}

span.round-tabs.two {
    color: #febe29;
    border: 3px solid #febe29;
}

span.round-tabs.three {
    color: #3e5e9a;
    border: 3px solid #3e5e9a;
}

span.round-tabs.four {
    color: #D10072;
    border: 3px solid #D10072;
}

span.round-tabs.five {
    border: 3px solid rgb(34, 194, 34);
    color: rgb(34, 194, 34);
}

.board-inner .nav-tabs > li.active > a span.round-tabs {
    background: red;
}

.board-inner .nav-tabs > li {
    width: 20%;
    background-color: #00AEEF;
}

.board-inner .nav-tabs > li:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition: 0.1s ease-in-out;

}

.board-inner .nav-tabs > li.active:after {
    content: " ";
    position: absolute;
    // left: 0 %;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #D30073;

}

.board-inner .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.board-inner .nav-tabs > li a:hover {
    background: transparent;
}

.tab-content {
    padding-left: 20px;
    padding-right: 20px;
}

.board .tab-content {
    display: table-cell;
    vertical-align: middle;
}

.tab-content .head {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}

.btn-outline-rounded {
    padding: 10px 20px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green {
    background-color: #5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}

a:visited, a:active {
    border: none;
}

@media (max-width: 585px) {

    .board {
        height: auto !important;
    }
    .board-inner .nav-tabs > li:after {
        left:33% !important;
    }

    span.round-tabs {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .tab-content .head {
        font-size: 20px;
    }



    .board-inner .nav-tabs > li a {
        width: 50px;
        height: 50px;

    }

    .btn-outline-rounded {
        padding: 12px 20px;
    }


    .img-responsive {
        margin: auto;
    }

}


/*Grid or list projects type*/
.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
    background: #00AEEF;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: rgba(0, 174, 239, 0.23);
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.item .list-group-item-text {
    height: 55px;
    overflow: auto;
}

.grid-group-item .list-group-item-text {
    overflow: auto;
    height: 150px;
    min-width: 100px;
    margin: 0 0 11px;
    // text-overflow: ellipsis;

}

.grid-group-item .list-group-item-heading {
    margin-top: 0;
    margin-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 150px;
}

.item .list-group-item-heading > a {
    color: #00aeef
}

.item .list-group-item-heading {
    text-align: center;

}

.item .list-group-image {
    width: 400px;
    height: 250px;

}

.gold {
    color: #FFBF00;
}



.service1-items {
    padding: 0px 0 0px 0;
    float: left;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 321px;
    width: 130px;
}

.service1-item {
    height: 107px;
    width: 120px;
    display: block;
    float: left;
    position: relative;
    padding-right: 20px;
    // border-right: 1 px solid #DDD;
    // border-top: 1 px solid #DDD;
    // border-bottom: 1 px solid #DDD;
    border: 1px solid #428BCA;
}

.service1-item > img {
    max-height: 110px;
    max-width: 110px;
    opacity: 0.6;
    transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
    cursor: pointer;
    opacity: 1;
}

.service-image-left {
    padding-right: 50px;
}

.service-image-right {
    padding-left: 50px;
}

.service-image-left > center > img, .service-image-right > center > img {
    max-height: 155px;
}

#container {
    min-height: 100%;
    position: relative;
}

#content {
    padding-top: 105px;
    min-height: 729px;
    padding-bottom:20px;
}

.content-area {
    padding-bottom: 30px;
}
.form-required{
    color: red;
}
#footer {
    background: #000;
    border-top: 4px solid #00AEEF;
    // position: absolute;
    bottom: 0;
    width: 100%;
    // height: 60 px; /* Height of the footer */
    // background: #6cf;
}

.align-middle {
    vertical-align: middle;
}

.margin-auto {
    margin: 0 auto;
}

.carusel-block {
    display: block;
    //float: left;
    text-align: center;
    width: 250px;
    min-height: 300px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.carusel-block-content {
    position: relative;
    margin: 0;
    text-decoration: none;
}
.carusel-money-badge{
    position: absolute;
    bottom: 50px;
    right: 0;
    padding: 5px 10px;
    color: #fff;
    font-size: 15px;
    background-color:#00AEEF;
}
.carusel-id-badge {
    position: absolute;
    top: 5%;
    left: 0;
    padding: 5px 10px;
    color: #fff;
    font-size: 15px;
    background-color: #AFCB09;
}

.carusel-block-content-description {
    overflow: auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 250px;
    height: 50px;
}

.btn, .btn-success, .btn-custom, .btn-danger{
    border-radius: 0px;
}

.carusel-block .show-btn {
    background: #D10072 none repeat scroll 0 0;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 10px;
    text-align: center;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: none;
}

.carusel-block:hover .show-btn {
    display: block;
}



.select-tabs .nav-tabs > li, .select-tabs .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline; /* for IE7*/
    *zoom: 1; /* for IE7*/

}

.select-tabs .nav-tabs {
    text-align: center;
}

.select-tabs .tab-content {
    padding: 0;
}

.select-tabs .tab-pane {
    padding: 20px 0px 20px 0px;
}

.event {
    position: absolute;
    top: 5px;
    right: 2px;
    text-align: center;
    font-size: 10px;
    padding: 2px 3px;
    /* line-height: .9; */
    background-color: #D10073; 
}


.background-logo{
    max-height: 110px;
    background-size: contain;

}
.title-border{
    
      font-weight: bold; 
     
}
@media (max-width: 768px) {
    .navbar-brand img{
        height: 40px;
    }
    #content{
        padding-top: 165px;
    }
}
@media (max-width: 990px) {
   .affix {
        position: relative;
        //width:213px;
        
} 
    
}